* {
    color: #FFFFFF;
    background-color: #1c181c;
    margin-left: 0.5%;
    font-family: "Garamond";
}

#lasagnaImg {
    width: 33%;
    height: auto;
}

h1 {
    text-align: center;
}

.content {
    padding-top: 0.5%;
    padding-left: 0.75%;
    padding-bottom: 0.5%;
    width: 95%;
    min-height: 95%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 7px solid #151515;
    border-left: 7px solid #151515;
    border-top: 5px solid #181818;
    border-right: 5px solid #181818;
}

.content,
.content * {
    background-color: #251F25;
}

img {
    border-bottom: 5px solid #181818;
    border-left: 5px solid #181818;
    border-top: 3px solid #1c1c1c;
    border-right: 3px solid #1c1c1c;
}

h3 {
    color: #F0F0F0;
}

p {
    color: #E0E0E0;
}

ul,
ol,
li {
    color: #DDDDDD;
}

a {
    color: #eb80ef;
}